* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, h5, h6, p, ul {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
}

.logo {
    width: 110px;
    height: 110px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding: 1px 30px;
    background-color: white;
}

nav {
    display:flex;
    justify-content:right
}

nav a {
  text-decoration: none;
  margin: 0 35px;
  color: #444444;
  font-size: 20px;
}

nav :hover {
    color: #81B29A;
}

.hero {
    background-color:#E07A5F;
    color: hsl(12, 76%, 94%);
    padding: 70px;
    padding-left: 90px;
}

.hero h1 {
    font-size: 72px;
    font-weight: 300;
}

.hero p {
    font-size: 23px;
    padding-top: 20px;
}

.why {
    background-color: #F4F1DE;
    color:rgb(58, 89, 89);
}

.why, .delights, .story {
    padding: 30px;
    padding-left: 90px;
}

.why h1, .delights h1, .story h1 {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 300;
}

.why ul {
    font-size: 20px;
    margin-left: 28px;
}

.delights {
    background-color:#81B29A; 
    color:#F4F1DE;
    padding-bottom: 50px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

#firstblock {
    width: 200px;
    height: auto;
}

.block1, .block2, .block3 {
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #F4F1DE;
    color:rgb(58, 89, 89);
}

.block1 h3, .block2 h3, .block3 h3 {
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
}

.block1 p, .block2 p, .block3 p {
    padding: 0px 15px 15px 15px;
    font-size: 15px;
}

.story {
    background-color: #F2CC8F;
    color:rgb(58, 89, 89);
    padding-bottom: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.story p {
    font-size: 20px;
}

footer img {
    width: 60px;
    height: auto;
    padding: 8px 8px 8px 8px;
    align-items: center;
    margin-top: 20px;
  }

.social {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bottom a {
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    color: #7A7A7A;
}

footer {
    background-color: white;
  }

footer p {
    text-align: center;
    color: #AAAAAA;
    font-size: 16px;
}

footer p :hover {
    color: black;
}
